body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #08c8f8;
    color: white;
}

.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1a1a1a, #000);
}

/* .dynamic-bg {
  background-image: url('assets/background.png'); /* Adjust path if needed */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */ 

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    background: #1c1c1c;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #292929;
}