body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #e7e5e5;
    color: rgb(0, 0, 0);
}

.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e7e5e5, #e9e6e6);
}

/* .dynamic-bg {
  background-image: url('assets/background.png'); /* Adjust path if needed */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */ 

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    padding: 20px;
    background: #196988;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #ec6d05;
}